.add-extra::after {
  content: attr(data-content);
  display: inline-block;
  vertical-align: 35%;
  font-size: .7em;
  margin-left: .3em;
  color: dimgray;
  transition: color .2s;
  font-family: sans-serif;
}

.add-extra:hover::after {
  color: inherit;
}
