.add-icon::before {
  content: '';
  /* Расположение */
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: -10%;
  margin-right: .3em;
  /* Параметры иконки */
  background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}


/* Ссылки */
.add-icon_type_link::before {
  opacity: .6;
  transition: opacity .2s;
}

.add-icon_type_link:hover::before {
  opacity: 1;
}

.add-icon_type_link[href*="github.com"]::before {
  background-image: url(../img/github.svg);
}

.add-icon_type_link[href*="mailto:"]::before {
	background-image: url(../img/email.svg);
}

.add-icon_type_link[href*="t.me"]::before {
	background-image: url(../img/telegram.svg);
}

.add-icon_type_link[href*="stackoverflow.com"]::before {
	background-image: url(../img/icon__stackoverflow.svg);
}

.add-icon_type_link[href*="habr.com"]::before {
	background-image: url(../img/icon__habr.svg);
}

.add-icon_type_link[href*="codewars.com"]::before {
	background-image: url(../img/icon__codewars.svg);
}

.add-icon_type_link_project::before {
	background-image: url(../img/icon__article.svg);
}


/* Пункты списка, заголовки */
@media (min-width: 768px) {
  .add-icon_type_block {
    text-indent: -1.3em;
  }
}

.add-icon_type_block_arrow-right::before {
  background-image: url(../img/icon__arrow-right.svg);
}

.add-icon_type_block_new::before {
  background-image: url(../img/icon__star.svg);
}

.add-icon_type_block_study::before {
  background-image: url(../img/icon__school.svg);
}

.add-icon_type_block_code::before {
  background-image: url(../img/icon__code.svg);
}

.add-icon_type_block_todo::before {
  background-image: url(../img/icon__ideas.svg);
}

.add-icon_type_block_in-progress::before {
  background-image: url(../img/icon__in-progress.gif);
}
