.card {
  position: relative;
  --image-height: 6rem;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--image-height);
  object-fit: cover;
  z-index: -1;
}

.card__link {
  display: block;
  padding-top: var(--image-height);
}

.card__title {
  margin: 0;
  font-weight: normal;
  margin-top: .3em;
  margin-bottom: .3em;
}

.card__link:hover .card__title::after {
  content: '';
  display: inline-block;
  width: .8em;
  height: .8em;
  margin-left: .2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__link:hover .card__title::after {
	background-image: url(../img/icon__external-link.svg);
}

.card__link[href*="github"]:hover .card__title::after {
	background-image: url(../img/icon__github-link.svg);
}

.card__link[href*="codepen.io"]:hover .card__title::after {
	background-image: url(../img/icon__codepen-link.svg);
}

.card__date {
  margin-top: .3em;
  color: dimgrey;
  font-family: sans-serif;
  width: fit-content;
}


.card_important {
  border-radius: .2em;
  outline: 4px solid gold;
  outline-offset: .5em;
}

.card_important .add-icon {
  text-indent: 0;
}

