.card {
  position: relative;
  --image-height: 10rem;
  --bid-size-padding: .5em;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--image-height);
  object-fit: cover;
  border-radius: .3em;
  transition: all .3s;
}

.card .card__image:hover {
  height: calc(100% + 2 * var(--bid-size-padding));
  width: calc(100% + 2 * var(--bid-size-padding));
  top: calc(-1 * var(--bid-size-padding));
  left: calc(-1 * var(--bid-size-padding));
  border-radius: .5em;
}

.card__link {
  display: block;
  margin-top: var(--image-height);
}

.card__title {
  margin: 0;
  font-weight: normal;
  padding-top: .3em;
  margin-bottom: .3em;
}

.card__link:hover .card__title::after {
  content: '';
  display: inline-block;
  width: .8em;
  height: .8em;
  margin-left: .2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__link:hover .card__title::after {
	background-image: url(../img/icon__external-link.svg);
}

.card__link[href*="github"]:hover .card__title::after {
	background-image: url(../img/icon__github-link.svg);
}

.card__link[href*="codepen.io"]:hover .card__title::after {
	background-image: url(../img/icon__codepen-link.svg);
}

.card__date {
  margin-top: .3em;
  color: dimgrey;
  font-family: sans-serif;
  width: fit-content;
}


.card_important {
  margin: calc(-1 * var(--bid-size-padding));
  padding: var(--bid-size-padding);
  border-radius: .5em;
  overflow: hidden;
  background-color: #f2f3f4;
  outline: 1px solid #ddd;
}

.card_important .add-icon {
  text-indent: 0;
}

.card_important .card__image {
  width: calc(100% - 2 * var(--bid-size-padding));
  left: var(--bid-size-padding);
  top: var(--bid-size-padding);
}
