.card__image {
  display: block;
  width: 100%;
  height: 6em;
  object-fit: cover;
  border-radius: .3em;
  transition: opacity .2s;
}

.card:hover .card__image {
  opacity: .9;
}

.card__image_size_l {
  height: auto;
  aspect-ratio: 4 / 3;
}

.card__title {
  margin: 0;
  margin-bottom: .3em;
  padding-top: .3em;
  font-weight: normal;
}

.card__link:hover .card__title::after {
  content: '';
  display: inline-block;
  width: .8em;
  height: .8em;
  margin-left: .2em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__link:hover .card__title::after {
	background-image: url(../img/icon__external-link.svg);
}

.card__link[href*="github"]:hover .card__title::after {
	background-image: url(../img/icon__github-link.svg);
}

.card__link[href*="codepen.io"]:hover .card__title::after {
	background-image: url(../img/icon__codepen-link.svg);
}

.card__date {
  margin-top: .3em;
  color: dimgrey;
  font-family: sans-serif;
  width: fit-content;
}


.card_important {
  margin: -.5em;
  padding: .5em;
  border-radius: .5em;
  box-shadow: 0 0 .9em rgba(0, 0, 0, .05);
}

.card_important .add-icon {
  text-indent: 0;
}

