@keyframes blink {
  0% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 1;}
  90% {opacity: 1;}
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/curtain-pattern.svg);
}

.intro__content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.intro__logo {
  background-color: gold;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.intro__logo::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-right: .3em;
  border-radius: 50%;
	vertical-align: -.25em;
  background-image: url(../img/novvember-avatar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 102%;
  transition: background-size 5s ease-out;
}

.intro:hover .intro__logo::before {
  background-size: 200%;
}

.intro__logo::after {
  content: '_';
  animation: blink 1.2s infinite;
}

.intro__title {
	text-align: center;
  margin: 0;
}

.intro__title-text {
  background-color: gold;
}

.intro__subtitle {
  margin: 0;
  text-align: center;
}

.intro__subtitle-text {
  background-color: rgba(255, 255, 255, .5);
}



