/* Заголовок */
.section__title {
  margin: 0;
  margin-bottom: .5em;
  width: fit-content;
  border-radius: .2em;
  padding-right: .3em;

  position: sticky;
  top: .3em;
  background-color: rgba(255, 255, 255, .3);
  backdrop-filter: blur(.05em);
  z-index: 2;
}

/* Список */
.section__list {
  /* Сброс */
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-style: normal;
  /* Выравнивание внутри */
  display: flex;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: .5em;
}

.section__list + .section__list {
  margin-top: .5em;
}

.section__list_direction_column {
  flex-direction: column;
}
