

/* Основные поля игры*/
#battleship-game {
	min-width: 725px;
	min-height: 500px;
}

#playground div {
	display: inline-block;
}

/* Разметка поля*/
table {
	border-top: 1px dotted grey;
	border-collapse: collapse;
}

td {
	width: 20px;
	height: 20px;
	border: 1px dotted grey;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
	font-size: 10px;
	font-style: italic;
}

td:hover {
	background-color: gold;
}

#filler1 td, #filler2 td {
	border-left-style: none;
	border-right-style: none;
}

#playerField td.ship {
	background-color: #90CAF9;
}

#enemyField td.ship {
	background-color: #EF9A9A;
}

td.margin {
	background-image: url(dot-empty.svg);
	background-size: 6px;
	background-repeat: no-repeat;
	background-position: center;
}

td.hit {
	background-image: url(cross-black.svg);
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: center;
}

td.miss {
	background-image: url(dot-black.svg);
	background-size: 6px;
	background-repeat: no-repeat;
	background-position: center;
}

/* Экран новой игры*/
#gamestart {
	text-align: center;
}
#gamestart > img {
	height: 134px;
	width: 300px;
	margin: 3em 0;
}

button img {
	height: 1em;
}


/* Поле под игрой*/
#playerInfo, #enemyInfo {
	width: 240px;
	display: inline-block;
	vertical-align: top;
}

#playerInfo > div{
	display: none;
}

#playerInfo > div, #enemyInfo > div {
	padding: 0.5em;
	margin: 0.5em;
	text-align: center;
	font-size: smaller;

}

.info-need-action {
	background-color: Moccasin;
	border: 2px dotted white;
}

img.arrow {
	height: 2.5em;
}