.timeline__cards {
  padding: 0;
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2em;
  row-gap: 3em;
}

@media (min-width: 768px) {
  .timeline__cards {
    column-gap: 3em;
  }
}
