
section {
	display: inline-block;
	vertical-align: top;
}


section.table {
	width: 550px;
}

section.aside {
	width: 200px;
}

section.aside form {
	font-size: smaller;
}

div.ticket-group {
	margin-bottom: 1em;
	background-color: white;
}

span.price {
	font-weight: bold;
}

label[for="ed-60-trip"],
td.ed-60-trip {
	background-color: #c0504d;
}

label[for="ed-30-day"],
td.ed-30-day {
	background-color: #cc5652;
}

label[for="ed-90-day"],
td.ed-90-day {
	background-color: #d95b57;
}

label[for="ed-365-day"],
td.ed-365-day {
	background-color: #e5605c;
}

label[for="troika-metro"],
label[for="troika-tat"],
/*label[for="troika"],*/
td.troika-metro,
td.troika-tat,
td.troika {
	background-color: #4bacc6;
}

label[for="tat-30-day"],
td.tat-30-day,
td.tat-30-day-troika {
	background-color: #1f497d;
	color: AliceBlue;
}

label[for="bankcard-mir-2019"],
td.bankcard-mir-2019,
td.bankcard-mir-2019-troika  {
	background-color: YellowGreen;
}







/* Разметка поля*/
table {
	border-collapse: collapse;
	box-sizing: border-box;
	/*border: 1px dotted grey;*/
}

td {
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 1px;
	/*border: 1px dotted grey;*/
}

#tat-trip-label div{
	transform: rotate(-90deg);
	transform-origin: left top 0;
	float: left;
	height: 14px;
	width: 14px;
	white-space: nowrap;	
}

#tat-trip-label {
	vertical-align: top;
	padding-top: 265px;
}


#tat-trip-label, #metro-trip-label {
	font-size: 12px;
}

#metro-trip-label {
	text-align: left;
	padding-left: 14px;
}

#table-container td {
	width: 14px;
	height: 14px;
	box-sizing: border-box;
}

#table-container td[scope="col"] {
	text-align: left;
	border-bottom: 1px solid grey;
	font-size: 9px;
}

#table-container td[scope="row"] {
	vertical-align: top;
	border-right: 1px solid grey;
	font-size: 9px;
}

#table td {
	width: 7px;
	height: 7px;
}

#table td:hover {
	background-image: url(dot.svg);
	background-size: 5px;
	background-repeat: no-repeat;
	background-position: center;*/
}

#table, #table table {
	width: 504px;
	height: 504px;
}

#table {
	vertical-align: top;
}