
section {
	display: inline-block;
	vertical-align: top;
}

/* Основная область с графиком */

section.main {
	width: 550px;
}


table {
	border-collapse: collapse;
	box-sizing: border-box;
	/*border: 1px dotted grey;*/
}


/* Контейнер графика с номерками и заголовками */ 
#tat-trip-label div{
	transform: rotate(-90deg);
	transform-origin: left top 0;
	float: left;
	height: 14px;
	width: 14px;
	white-space: nowrap;	
}

#tat-trip-label {
	vertical-align: top;
	padding-top: 265px !important;
}


#tat-trip-label, #metro-trip-label {
	font-size: 12px;
}

#metro-trip-label {
	text-align: left;
	padding-left: 14px !important;
}

#graph-container td {
	width: 14px;
	height: 14px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

#graph-container td[scope="col"] {
	text-align: left;
	border-bottom: 1px solid grey;
	font-size: 9px;
}

#graph-container td[scope="row"] {
	vertical-align: top;
	text-align: center;
	border-right: 1px solid grey;
	font-size: 9px;
}







/* График */ 
#graph td {
	width: 7px;
	height: 7px;
	font-size: 1px;
}

#graph td:hover,
#graph td.active {
	background-image: url(dot.svg);
	background-size: 5px;
	background-repeat: no-repeat;
	background-position: center;
}

#graph, #graph table {
	width: 504px;
	height: 504px;
}

#graph {
	vertical-align: top;
}















/* Боковое меню с билетами */

section.aside {
	width: 200px;
}

section.aside form {
	font-size: small;
}

div.ticket-header {
	margin-bottom: 1em;
}

div.ticket-group {
	margin-bottom: 1em;
	font-size: x-small;
}

#ticket-types table {
	width: 100%;
}

#ticket-types td {
	padding: 1px 0;
}

#ticket-types td.input {
	width: 20px;
}

#ticket-types td.price {
	width: 65px;
	text-align: right;
	background-color: white;
	color: black;
}

#ticket-types td.difference {
	width: 35px;
	background-color: white;
	font-size: smaller;
	color: black;
}

.price {
	font-weight: bold;
}

#ticket-types td.difference.active {
	background-image: url(left-arrow.svg);
	background-size: calc(100% - 5px);
	background-repeat: no-repeat;
	background-position: 5px 50%;
}










/* Раскраска разных билетов */

label[for="ed-60-trip"],
.ed-60-trip {
	background-color: #c0504d;
}

label[for="ed-30-day"],
.ed-30-day {
	background-color: #cc5652;
}

label[for="ed-90-day"],
.ed-90-day {
	background-color: #d95b57;
}

label[for="ed-365-day"],
.ed-365-day {
	background-color: #e5605c;
}

label[for="troika"],
.troika {
	background-color: #4bacc6;
}

label[for="tat-30-day"],
.tat-30-day,
.tat-30-day-troika {
	background-color: #1f497d;
	color: AliceBlue;
}

label[for="tat-30-day-ed-60-trip"],
.tat-30-day-ed-60-trip {
	background-color: #730d73;
	color: AliceBlue;
}

