/* Общее */
html {
	font-family: 'Merriweather', serif;
	/*font-size: 16px;*/
}

html * {max-height:1000000px;} /* Отключает увеличение текста на мобильных */

body {
	padding: 0 10%;
	max-width: 750px;
	margin: 0 auto;
}

/* Меню */
nav {
	color: black;
	margin-bottom: 5rem;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	padding-right: 1.3em;
	padding-left: 1.3em;
	margin-left: -1.3em;
}

nav li:hover {
	padding-right: 0em;
	padding-left: 0em;
}

nav li:hover:before, nav li:hover:after {
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: -0.1em;
}

nav li:hover:before {
	margin-right: 0.3em;
	background-image: url('./img/tag-opened.svg');
}

nav li:hover:after {
	margin-left: 0.3em;
	background-image: url('./img/tag-closed.svg');
}

nav span.home:before {
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	margin-right: 0em;
	background-image: url('./img/home.svg');
	background-repeat: no-repeat;
	background-size: cover;
}




/* Заголовок */
h1 {
	text-align: center;
}

h1 img {
	width: 2ex;
	height: 2ex;
	border-radius: 50%;
	vertical-align: middle;
}


/* Хронология */
dt {
	font-weight: bold;
	margin-top: 0.5rem;
}

dt[class]:before {
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	margin-right: 0.3em;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: -0.1em;
}

dt.code:before {
	background-image: url('./img/code.svg');
}

dt.study:before {
	background-image: url('./img/study.svg');
}

.highlighter {
	background-color: gold;
	padding: 0 0.3em;
}

.date {
	font-style: italic;
}

/* Ссылки */
a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
	color: dimgrey;
}

/* Футер */
footer {
	color: #696969;
	margin-top: 10rem;
	text-align: center;
}

footer address {
	font-style: normal;
}

footer ul,
footer ol {
	list-style-type: none;
	padding: 0;
}

footer li {
	display: inline-block;
	margin-right: 0.5em;
}

footer address a:before {
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	margin-right: 0.2em;
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: -0.1em;
}

footer address a[href*="github.com"]:before {
	background-image: url('./img/github.svg');
}

footer address a[href*="mailto:"]:before {
	background-image: url('./img/email.svg');
}

footer address a[href*="t.me"]:before {
	background-image: url('./img/telegram.svg');
}


/* Служебное сообщение*/
div.under-construction {
	margin: 2em;
	padding: 0.5em 1em;
	font-size: small;
	color: DimGrey;
	background-image: url(./img/subtle_dots.png);
}

div.under-construction ul {
	padding-left: 1.5em;
}

div.under-construction li {
	list-style-image: url(./img/checkbox-empty.svg);
}

div.under-construction li.done {
	list-style-image: url(./img/checkbox-done.svg);
}
