/* Общие правила */

a {
	color: inherit;
	text-decoration: underline grey 1px;
  transition: opacity .2s;
}

a:hover {
	text-decoration: none;
	opacity: .7;
}

p {
  margin: 0;
}


/* Общий контейнер страницы */

.page {
	font-family: 'Merriweather', serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 3rem;
  /* Оптимизация шрифта для всей страницы */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* Рассотяние между секциями */
.page__header {
  margin-bottom: 5rem;
}

.page__description {
  margin-bottom: 5rem;
}

.page__footer {
  margin-top: 5rem;
}


/* Шапка с ссылками на проекты */

.menu {
  padding: 2rem 0;
}

.menu__links {
	list-style-type: none;
	padding: 0;
  margin: 0;
}

.menu__item {
  position: relative;
  width: fit-content;
}

.menu__item:hover::before, .menu__item:hover::after {
  content: '';
  position: absolute;
  display: block;
  top: .1em;
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
	background-size: cover;
}

.menu__item:hover::before {
	left: -1.3em;
  background-image: url(../img/tag-opened.svg);
}

.menu__item:hover::after {
	right: -1.3em;
  background-image: url(../img/tag-closed.svg);
}

.menu__homepage-link {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(../img/home.svg);
	background-repeat: no-repeat;
	background-size: contain;
  background-position: center;
}


/* Заголовок ПРИВЕТ! */

.description {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.description__title {
	text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.description__subtitle {
  margin: 0;
  text-align: center;
}

.description__avatar {
  display: inline-block; /* Не дает разбивать строку между аватаром и ником*/
}

.description__avatar::before {
  content: '';
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: .3em;
  border-radius: 50%;
	vertical-align: middle;
  background-image: url(../img/novvember-avatar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/* Лента - Раздел с колонками */

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
}

.column__title {
  margin: 0 0 1rem;
}

.column__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.column__heading {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}


.column__icon-element {
  position: relative;
}

.column__icon-element::before {
  content: '';
  display: block;
  position: absolute;
  left: -1.3em;
  top: .1em;
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
	background-size: contain;
}

.column__icon-element_icon_study::before {
  background-image: url('../img/study.svg');
}

.column__icon-element_icon_code::before {
  background-image: url('../img/code.svg');
}

.column__highlighter {
  background-color: gold;
}

.column__date {
	font-style: italic;
}


/* Футер с ссылками на соцсети*/

.footer {
  padding-bottom: 2em;
}

.social-list__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-style: normal;
  height: 1rem;
}

.social-list__item {
  margin-right: 1em;
}

.social-list__link {
  display: inline-block;
  height: 1em;
  width: 1em;
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  opacity: .7;
}

.social-list__link:hover {
  opacity: 1;
}

.social-list__link[href*="github.com"] {
  background-image: url(../img/github.svg);
}

.social-list__link[href*="mailto:"] {
	background-image: url(../img/email.svg);
}

.social-list__link[href*="t.me"] {
	background-image: url(../img/telegram.svg);
}


