/* Общее */
html {
	font-family: 'Merriweather', serif;
	font-size: 16px;
}

body {
	padding: 0 10%;
	max-width: 750px;
	margin: 0 auto;
}

/* Меню */
nav {
	color: black;
	margin-bottom: 5rem;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav li:hover {
	list-style-image: url(../img/right-arrow.svg);
}

/* Заголовок */ 
h1 {
	text-align: center;
}

h1 img {
	width: 2ex;
	height: 2ex;
	border-radius: 50%;
	vertical-align: middle;
}

/* Список курсов */
dt {
	font-weight: bold;
	margin-top: 0.5rem;
}

.highlighter {
	background-color: gold;
	padding: 0 0.3em;
}

.date {
	font-style: italic;
}

/* Ссылки */
a {
	color: inherit;
}

a:hover {
	color: white;
	background-color: dimgray;
}

/* Футер */
footer {
	color: #696969;
	margin-top: 10rem;
	text-align: center;
}

footer address {
	font-style: normal;
}

footer ul, ol {
	list-style-type: none;
	padding: 0;
}

footer li {
	display: inline-block;
	margin-right: 1em;
}

footer .github:before {
	content: '';
	display: inline-block;
	height: 1em;
	width: 1em;
	margin-right: 0.2em;
	background-image: url('../img/github.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
