/* Общие правила */

a {
	color: inherit;
	text-decoration: underline silver 1px;
  transition: opacity .2s;
}

a:hover {
	text-decoration: none;
	opacity: .7;
}

p {
  margin: 0;
}

.highlighter {
  background-color: gold;
}


/* Page - Общий контейнер страницы */

.page {
	font-family: 'Merriweather', serif;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  /* Оптимизация шрифта для всей страницы */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

    /* Рассотяние между секциями */
.page__header {
  margin-bottom: 3rem;
}

.page__description {
  margin-bottom: 3rem;
}

.page__footer {
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .page {
    padding: 0 1rem;
  }
}


/* Header с ссылками на проекты */

.menu {
  padding-top: 2rem;
}

.menu__links {
	list-style-type: none;
	padding: 0;
  margin: 0;
}

.menu__homepage-link {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url(../img/home.svg);
	background-repeat: no-repeat;
	background-size: contain;
  background-position: center;
}

.menu__item {
  position: relative;
}

.menu__item:hover::before, .menu__item:hover::after {
  /* color: brown; */
  display: inline;
  height: 1em;
  width: 1em;
  font-weight: bold;
}

.menu__item:hover::before {
  content: '<';
  text-align: right;
  position: absolute;
	left: -1.25em;
  top: 0;
}

.menu__item:hover::after {
  content: ' >';
  vertical-align: top;
}




/* Заголовок ПРИВЕТ! */

.description {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px dotted grey;
  border-bottom: 1px dotted grey;
}

.description__title {
	text-align: center;
  margin: 0;
  margin-bottom: 1rem;
  max-width: 700px;
}

.description__subtitle {
  margin: 0;
  text-align: center;
  max-width: 600px;
}

.description__add-avatar {
  display: inline-block; /* Не дает разбивать строку между аватаром и ником*/
}

.description__add-avatar::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin-right: .3em;
  border-radius: 50%;
	vertical-align: -.25em;
  background-image: url(../img/novvember-avatar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 101%;
  transition: background-size 5s ease-out;
}

.description:hover .description__add-avatar::before {
  background-size: 200%;
}


/* Columns, column - Раздел с колонками */

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5rem;
}

.column__title {
  margin: 0 0 1rem;
}

.column__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.column__icon-element {
  /* position: relative; */
}

@media (min-width: 768px) {
  .column__icon-element {
    text-indent: -1.3em;
  }
}

.column__icon-element::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: .3em;
  background-repeat: no-repeat;
	background-size: contain;
  background-position: center;
  vertical-align:bottom;
}

.column__icon-element_icon_study::before {
  background-image: url('../img/study.svg');
}

.column__icon-element_icon_code::before {
  background-image: url('../img/code.svg');
}

.column__icon-element_icon_in-progress::before {
  background-image: url('../img/icon__in-progress.gif');
}



/* Card - Карточка каждого проекта */

.card__link {
  text-decoration: none;
}

.card__link:hover {
  opacity: 1;
}

.card__image {
  width: 100%;
  height: 4rem;
  object-fit: cover;
  filter: grayscale();
}

.card:hover .card__image {
  transition: all 2s ease-out;
  filter: none;
  height: 5rem;
  margin-top: -1rem;
}

.card__title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.card__link:hover .card__title::after {
  content: '';
  display: inline-block;
  width: .8em;
  height: .8em;
  margin-left: .3em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.card__link[href*="http"]:hover .card__title::after {
	background-image: url(../img/icon__external-link.svg);
}


.card__link[href*="github"]:hover .card__title::after {
	background-image: url(../img/icon__github-link.svg);
}

.card__link[href*="codepen.io"]:hover .card__title::after {
	background-image: url(../img/icon__codepen-link.svg);
}

.highlighter {
  background-color: gold;
}

.card__date {
  color: darkgrey;
}


/* Footer с ссылками на соцсети*/

.footer {
  /* Поля */
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-top: 1px dotted grey;
  /* Выравнивание внутри */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  /* Текст внутри */
  font-size: small;
  color: darkgray;
}

  /* Ссылки в футере немного другие */
.footer__link {
  color: inherit;
  transition: color .3s;
}

.footer__link:hover {
  color: black;
  opacity: 1;
}

.footer__text {
  text-align: center;
}


.social-list__items {
  /* Сброс */
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-style: normal;
  /* Выравнивание внутри */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2em;
  row-gap: 1em;
}
  /* Иконки соцсетей перед ссылкой */
.social-list__link::before {
  content: '';
  /* Расположение */
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: -10%;
  margin-right: .3em;
  /* Параметры иконки */
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  /* При наведении */
  opacity: .6;
  transition: opacity .3s;
}

.social-list__link:hover::before {
  /* При наведении */
  opacity: 1;
}

.social-list__link[href*="github.com"]::before {
  background-image: url(../img/github.svg);
}

.social-list__link[href*="mailto:"]::before {
	background-image: url(../img/email.svg);
}

.social-list__link[href*="t.me"]::before {
	background-image: url(../img/telegram.svg);
}

.social-list__link[href*="stackoverflow.com"]::before {
	background-image: url(../img/icon__stackoverflow.svg);
}

.social-list__link[href*="habr.com"]::before {
	background-image: url(../img/icon__habr.svg);
}

.social-list__link[href*="codewars.com"]::before {
	background-image: url(../img/icon__codewars.svg);
}
